<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bs/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <form  method="post" class="post-form" action='/newuser/'>
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4"> 
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Id : </label>
                <div class="col-sm-4">
                    {{ form.uid }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name : </label>
                <div class="col-sm-4">
                    {{ form.uname }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Contact Details : </label>
                <div class="col-sm-4">
                    {{ form.ucontact }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email Id : </label>
                <div class="col-sm-4">
                    {{ form.uemail }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit"  class="btn btn-success"> Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>